<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

Authenticated username:
<div sec:authentication="name">asd</div>
Authenticated user roles:
<div sec:authentication="principal.authorities">asd</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin}">Admin panel</a>
</div>
<a th:href="@{/logout}">Logout</a>
</body>
</html>